  
.container {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 20px;
    font-weight:bold;
}
  .box{
    background-color:lightblue;
    padding: 20px;
    text-align: center;
    font-color: black;
  }
/* Navigation Bar */
.nav {
  display: flex;
  justify-content: space-around;
  background-color: lightblue;
  padding: 1rem;
  font-weight: bold;
}
.nav a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

/* Layout Wrapper */
.wrapper {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 1rem;
  gap: 1.5rem; /* Adds space between main content and sidebar */
}

/* Main Content Area */
.main-content {
  background-color: yellow;
  padding: 1rem;
  margin:auto;
  width:repeat(2, 1fr);
  border: 4px solid white;
}

/* Sidebar */
.sidebar {
  background-color: pink;
  padding: 1rem;
  margin:auto;
  width: 30%; 
  border: 4px solid white;
}
/*make the sidebar and main content responsive to mobile device dimensions; make them sit next to each other */
.sidebar, .main-content {
  flex: 1;
}
/* Footer */
footer {
    background: lightgreen; 
    padding: 1rem;
    color: black;
    text-align: center;
    font-weight:bold;
  }

  /* Mobile Responsive */
  @media (max-width: 768px) {
    .nav {
      flex-direction: column;
      align-items: center;
    }
    .wrapper{
      display: flex;
      flex-direction: column;
    }
    .main-content,
    .sidebar {
     width: 100%;
    }
  }
