  
.container {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 20px;
}
  .box{
    background-color:lightblue;
    padding: 20px;
    text-align: center;
  }
/* Navigation Bar */
.nav {
  display: flex;
  justify-content: space-around;
  background-color: lightblue;
  padding: 1rem;
}
.nav a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}
/* Main Content Area */
.main-content {
  background-color: yellow;
  padding: 1rem;
  width: 70%;
}

/* Sidebar */
.sidebar {
  background-color: pink;
  padding: 1rem;
  width: 25%;
}

/* Footer */
footer {
    background: #333;
    padding: 1rem;
    color: #fff;
    text-align: center;
  }

  