  
    /*Body Styles*/
  body {
    font-family: Arial, sans-serif;
    font-size: medium;
    background-color: #f5f5f5;
    color: #333;
  }
  /* The specified font-family and color properties on the <body> element, apply to most child elements. This is
because the value of the font-family property is inherited by child elements, as explained in CH. 10, pg 240. 
The colors of the  body and all elements housed within in is different from that of the header; this is to demonstrates how CSS works, 
regarding inheritance and the way the code applies to elements in a manner similar to that of them being placed in a box. Color code is picked
using a RGB color picker,  CH. 11 pg 251.*/ 

  /*Header Styles*/
  header {
    background: #333;
    color: #fff;
    text-align: center;
  }
  /* The above code can be overriden by an inline CSS or an internal CSS *   
  /* However, it is important to note that the background color properties are not inherited by child elements. Reference: CH. 10, pg 240 */

  /*Footer Styless*/
  footer {
    background: #333;
    color: #fff;
    text-align: center;
  }
  
  .container {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 20px;
  }
  /* The above code is used to create a grid layout for the container class. The grid-template-columns property is used to define the number of columns in the grid layout,
  and the grid-gap property is used to define the space between the columns. */
  .box{
    background-color:lightblue
    padding: 20px;
    text-align: center;
  }
/* Font choices are made based on the fact that they are web-safe fonts and are likely to be available on most devices with good contrast. Reference: CH. 12, pg 269 - 273*/